@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.tasks-feed {
  color: $feed-color;
  display: flex;
  font-family: $font-jose;
  justify-content: space-between;
  padding: 0 20px;
}

.clear-complete {
  background: none;
  border: none;
  color: $feed-color;
  cursor: pointer;
  font-family: $font-jose;
}

.filters-feed {
  display: none;
}

@media (min-width: 1024px) {
  .filters-feed {
    display: flex;
  }
}